<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.programacion.com.cvgeisonapp5">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Datos_Personales"></activity>
        <activity android:name=".Estudios_Realizados"></activity>
        <activity android:name=".Experiencia_Laboral"></activity>
        <activity android:name=".Referencias_Personales"></activity>
        <activity android:name=".Acerca_de_Usted"></activity>
    </application>

</manifest>